body{
    margin:0;
    padding:0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2fRF2KC40qfU4H2YU12g31keNtlkG0OvXWdiK5Kl0Ca4Fua6L");
    -webkit-background-size:cover;
    height: 1000px; 
    font:"roboto";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /* filter: blur(1.75px); 
  filter: blur(1.75px); */

}
h4{
  font-family:'roboto';
  padding: -20px;
}
div.a{
    position: absolute;
    top:35%;
    left:35%;    
    transform:transparent(-50%,-50%);
    width:400px;
    height:600px;
    box-sizing: border-box;
    /* background-color: #ffffff;
    border: 1px solid skyblue;
    opacity: 0.6;
    filter: alpha(opacity=60); For IE8 and earlier */
    background: rgba(0, 0, 0, 0.2);
    padding-left:50px;
    }
   
    /* div.a input[type=text],
    div.a input[type=date],
    div.a select{
    /* text-align :center; */
    
    
    .a input[type=text],
    .a input[type=date]{
        border:none;
        /* padding: -10px; */
        /* border-radius: 25px; */
        border-bottom: 1px solid #ffffff;
        background-color:transparent;
        outline:none;
    }
